.categorieBanner {
  width: 100%;
  height: 45vh;
  background-image: url("../../../Assists/images/pexels-abet-llacer-919734.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.categorieBannerContainer {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.categorieBannerContainer h2 {
  font-size: 50px;
  color: #fff;
  font-size: 600;
  text-transform: uppercase;
}
.categorieBannerContainer p {
  font-size: 20px;
  color: #fff;
  font-size: 500;
}
@media screen and (max-width: 1420px) {
  .categorieBannerContainer {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .categorieBannerContainer h2 {
    font-size: 30px;
    color: #fff;
    font-size: 600;
    text-transform: uppercase;
  }
}
