.activeSlide {
  opacity: 1 !important;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(-100%);
}
.nextSlide {
  transform: translateX(100%);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
